:root{
    --all-background: #FFFFFF;
    --text-color: #2E2F42;
    --logo-first: #4d5ae5;
    --logo-second: #2e2f42;
    --text-header-normal: #2e2f42;
    --text-header-contacts-normal: #434455;
    --text-header-hover: #404BBF;
    --title-background: #2E2F42;
    --title-button-normal: #4D5AE5;
    --title-button-hover: #404BBF;
    --title-text: #FFFFFF;
    --main-background-first: #F4F4FD;
    --text-dark-background: #f4f4fd;
    --first-button-portfolio-normal: #F4F4FD;
    --first-button-portfolio-hover: #404BBF;
    --text-first-button-portfolio: #4d5ae5;
    --text-first-portfolio-hover: #FFFFFF;
    --positions-team:#434455;
    --footer-text: #F4F4FD;
    --first-inscription-cards: #2E2F42;
    --second--inscription-cards: #434455;
    --second-section-text: #434455;
    --second-section-titles: #2e2f42;
    --fourth-section-titles: #2e2f42;
    --tytles-h-ll: #2e2f42;
}

*{
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: var(--all-background);
    width: 1440px;
}

h1, h2, h3, h4, h5, h6, p{
    margin-top: 0;
    margin-bottom: 0;
} 

ul{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img{
    display: block;
}

.link{
    text-decoration: none;
}

button{
    cursor: pointer;
}

.container {
    width: 100%;
    max-width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

header {
    padding-top: 24px;
    padding-bottom: 24px;
    height: 72px;
    border: 1px solid #E7E9FC;
}

.header-div{
    display: flex;
    align-items: center;
}

nav{
    display: flex;
}

.header-ul-l{
    display: flex;
}

.header-ul-ll {
    display: flex;
    align-items: center;
}

header .list{
    gap: 40px;
}

.logo{
    color: var(--logo-first);
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
    padding-right: 76px;
}

.span{
    color: var(--logo-second);
}

.portfolio-span {
    color: var(--logo-second);
}

.list{
    list-style: none;
}

.list-menu-header{
    color: var(--text-header-normal);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.list-menu-header:hover,
.list-menu-header:focus{
    color: var(--text-header-hover);
}

.list-menu-header:hover,
.list-menu-header:focus {
    color: var(--text-header-hover);
}

.list-menu-header:hover,
.list-menu-header:focus {
    color: var(--text-header-hover);
}

.list{
    list-style: none;
}

.address{
    font-style: normal;
    margin-left: auto;
}

.list-contacts-header{
    color: var(--text-header-contacts-normal);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.list-contacts-header:hover,
.list-contacts-header:focus {
    color: var(--text-header-hover);
}

.list-contacts-header:hover,
.list-contacts-header:focus {
    color: var(--text-header-hover);
}

.first-section{
    background-color: var(--title-background);
    text-align: center;
    height: 600px;
    display: flex;
    width: 1440px;
    border: 1px solid var(--title-background);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 48px;
}

.title-first-section{
    color: var(--title-text);
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    width: 496px;    
}

.first-section-button{
    background-color: var(--title-button-normal);
    color: var(--title-text);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-family: "Roboto", sans-serif;
    display: inline-flex;
    border: var(--title-button-normal);
    padding: 16px 32px;
    border-radius: 4px;
}

.first-section-button:hover,
.first-section-button:focus{
    background-color: var(--title-button-hover);
}

.invisible-text {
    font-size: 0;
    opacity: 0;
}

.l-list-ll-section{
    gap: 24px;
    margin-top: 120px;
    display: flex;
}

.l-list-lll-section{
    margin-top: 72px;
    display: flex;
    gap: 24px;
    justify-content: center;
}

.ll-list-ll-section>li{
    border: 1px solid #E7E9FC;
}

.second-section-titles{
    color: var(--second-section-titles);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
}

.second-section-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--second-section-text);
}

.tytles-h-ll{
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--tytles-h-ll);
    padding-top: 120px;
    margin-left: auto;
    margin-right: auto;
}

.fourth-section{
    background-color: var(--main-background-first);
    width: 1440px;
    margin-top: 120px;
}

.l-list-llll-section{
    padding-top: 72px;
    display: flex;
    gap: 24px;
    justify-content: center;
}    

.l-list-llll-section>li{
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    margin-bottom: 120px;
}

.background-list-fourth-section{
    background-color: #FFFFFF;
}

.fourth-section-h-lll{
    color: var(--fourth-section-titles);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 8px;
    padding-left: auto;
    padding-right: auto;
}

.fourth-section-p {
    color: var(--positions-team);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    padding-bottom: 32px;
    padding-left: auto;
    padding-right: auto;
}

.footer{
    background-color: var(--title-background);
    height: 314px;
}

.logo-footer{
    color: var(--logo-first);
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
    display: flex;
    margin-left: 141px;
    padding-top: 101.5px;
}

.second-span {
    color: var(--text-dark-background);
}

.footer-p{
    color: var(--footer-text);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    width: 264px;
    padding-top: 17.5px;
    margin-left: 141px;
}



.first-button{
    background-color: var(--first-button-portfolio-normal);
    color: var(--text-first-button-portfolio);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #E7E9FC;
}

.portfolio-l-list{
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 96px;
}

.first-button:hover,
.first-button:focus{
    background-color: var(--first-button-portfolio-hover);
    color: var(--text-first-portfolio-hover);
}

.portfolio-ll-list{
    margin-top: 72px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-bottom: 120px;
}

.portfolio-ll-list>li{
    border: 1px solid #E7E9FC;
    padding-bottom: 32px;
    margin-bottom: 48px;
    width: 360px;
    height: 420px;
    display: flex;
    align-items: flex-end;
}

.img-portfolio{
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: top center;
}

.title-text-cards-portfolio{
    color:var(--first-inscription-cards);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
    padding-top: 32px;
    padding-bottom: 8px;
    padding-left: 16px;
}

.text-cards-portfolio{
    color: var(--second--inscription-cards);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-left: 16px;
}